@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 10px;
  background: url("./background.jpg") center center/cover no-repeat fixed;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 1fr;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.url-wrapper,
button {
  width: 500px;
}

.url-wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  appearance: textfield;
  background-color: #ffffff;
  border-width: 2px;
  border-style: outset;
  border-color: #cccccc;
  overflow: hidden;
}

input,
label {
  background: unset;
  border: unset;
}

input,
button,
label {
  font-size: 20px;
  padding: 6px;
}

input {
  width: 100%;
  background: none;
}

:focus {
  outline: #575757a1 auto 1px;
}

.cards-container {
  padding: 0 10px 10px;
  min-height: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-self: flex-start;
  border: #323232;
  border-radius: 5px;
  background: #efefef;
  margin: 10px;
  width: 300px;
  display: inline-block;
  overflow: hidden;
}

.card-link {
  color: unset;
  text-decoration: unset;
}

.information-container {
  padding: 15px;
}

.img-container {
  padding-bottom: 0;
}

img {
  width: 100%;
}

a {
  color: #3046a7;
  font-weight: 500;
}

h2 {
  height: 50px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.information-container {
  background: #ffffff4d;
  height: max-content;
}

.hidden {
  visibility: hidden;
}

.errorMessage {
  color: #ec3452;
  font-size: 1.5rem;
}