@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 10px;
}

table {
  font-size: 1rem;
  text-transform: capitalize;
}

th {
  text-align: center;
  background: #5a8b11;
  color: #fefefe;
  font-size: 1.5rem;
}

td {
  text-align: center;
  padding: 20px;
}

tr {
  color: #333333;
}

tr:nth-child(odd) {
  background: #87c32c;
}

tr:nth-child(even) {
  background: #adff2f;
}